<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="XmlParserImpl" class="com.parserUtil.XmlParserImpl"></bean>
	<bean id="JASONParserImpl" class="com.parserUtil.JASONParserImpl"></bean>
	<bean id="XmlParserBean" class="com.parserUtil.UniversalParser">
		<constructor-arg ref="XmlParserImpl"></constructor-arg>
	</bean>
	<bean id="JASONParserBean" class="com.parserUtil.UniversalParser">
		<constructor-arg ref="JASONParserImpl"></constructor-arg>
	</bean>
</beans>
